<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Change this -->
    <title th:text="${pageTitle} + ' — FalconX Robotics'"></title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/resources/curriculum/programming.css}" href="/public/css/resources/curriculum/programming.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <div class="header-height-div"></div>

    <section id="heading">
        <div class="wrapper">
            <div class="flexbox fade-in fade-in-down">
                <div class="left">
                    <div class="subtitle" th:text="${title}"></div>
                    <div class="normal" th:text="${description}"></div>
                </div>
                <div class="right image" th:src="${titleImageLink}"></div>
            </div>
        </div>
    </section>

    <section id="what-we-learn-here">
        <div class="wrapper">
            <div class="subtitle fade-in fade-in-down">What we learn here</div>
            <div class="flexbox">
                <div class="element fade-in fade-in-down" th:each="instance : ${learnings}">
                    <div class="image" th:src="${instance[2]}"></div>
                    <div class="subtitle" th:text="${instance[0]}">Java</div>
                    <div class="normal" th:text="${instance[1]}">blah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blah</div>
                </div>
            </div>
        </div>
    </section>

    <section id="leader">
        <div class="wrapper">
            <div class="flexbox">
                <div class="image fade-in fade-in-down" th:style="'background-image: url(' + ${leaderImageLink} + ')'"></div>
                <div class="right fade-in fade-in-down">
                    <div class="subtitle" th:text="${leaderTitle}"></div>
                    <div class="normal" th:text="${leaderQuote}"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="mentor">
        <div class="wrapper">
            <div class="subtitle fade-in fade-in-down" th:text="${hiringTitle}"></div>
            <div class="normal fade-in fade-in-down" th:text="${hiringDescription}"></div>
        </div>
    </section>

    <section id="resources">
        <div class="wrapper">
            <div class="subtitle fade-in fade-in-down">Resources</div>
            <ul>
                <li th:each="instance : ${resources}">
                    <a target="_blank" class="fade-in fade-in-down" th:href="${instance.value}" th:text="${instance.key}"></a>
                </li>
            </ul>
        </div>
    </section>

    <footer th:replace="fragments/normal :: footer"></footer>

    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
    <!-- <script th:src="@{/js/index.js}" src="../public/js/index.js"></script> -->
</body>

</html>