<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Change this -->
    <title>Programming - FalconX Robotics</title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/resources/curriculum/programming.css}" href="/public/css/resources/curriculum/programming.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <div class="header-height-div"></div>

    <section id="heading">
        <div class="wrapper">
            <div class="flexbox fade-in fade-in-down">
                <div class="left">
                    <div class="subtitle">Programming Curriculum</div>
                    <div class="normal">Students will be taught valuable programming skills and lanuages that will be useful for students who want to become software developers.</div>
                </div>
                <div class="right image"></div>
            </div>
        </div>
    </section>

    <section id="what-we-learn-here">
        <div class="wrapper">
            <div class="subtitle fade-in fade-in-down">What we learn here</div>
            <div class="flexbox">
                <div class="element fade-in fade-in-down">
                    <div class="image"></div>
                    <div class="subtitle">Java</div>
                    <div class="normal">blah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blah</div>
                </div>
                <div class="element fade-in fade-in-down">
                    <div class="image"></div>
                    <div class="subtitle">Java</div>
                    <div class="normal">blah nlah blahblah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blah</div>
                </div>
                <div class="element fade-in fade-in-down">
                    <div class="image"></div>
                    <div class="subtitle">Java</div>
                    <div class="normal">blah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah nlah blahah</div>
                </div>
            </div>
        </div>
    </section>

    <section id="leader">
        <div class="wrapper">
            <div class="flexbox">
                <div class="image fade-in fade-in-down" style="background-image: url(https://cdn.discordapp.com/avatars/150689208435081216/54336600c87ee961811416274d5f9fce.png)"></div>
                <div class="right fade-in fade-in-down">
                    <div class="subtitle">Programming leader — Casey</div>
                    <div class="normal">Hi, I'm Casey. I'm an experienced programmer and Terraria modder. 😎</div>
                </div>
            </div>
        </div>
    </section>

    <section id="mentor">
        <div class="wrapper">
            <div class="subtitle fade-in fade-in-down">Are you an experienced developer?</div>
            <div class="normal fade-in fade-in-down">We are always trying to find more mentors. <a class="link" target="_blank" href="/contact">Contact us</a> to help us out!</div>
        </div>
    </section>

    <section id="resources">
        <div class="wrapper">
            <div class="subtitle fade-in fade-in-down">Resources</div>
            <ul>
                <li><a target="_blank" class="fade-in fade-in-down" href="javascript:void(0)">wow! you're the 1 million-th visitor. click here to get your 1 million dollar prize reward</a></li>
                <li><a target="_blank" class="fade-in fade-in-down" href="https://photricity.com/flw/ajax/">Cute anime girls. Must watch!</a></li>
                <li><a target="_blank" class="fade-in fade-in-down" href="https://soundcloud.com/professoramazing/anohana-ost-i-lleft-you-not-sure-if-i-did">good soundcloud music</a></li>
                <li><a target="_blank" class="fade-in fade-in-down" href="https://youtu.be/1ZucZ-IZK8U">Chris — 10 Facts About Me!!!</a></li>
                <li><a target="_blank" class="fade-in fade-in-down" href="https://youtu.be/OdJFqFmwh14">Ray's favorite Geometry Dash level</a></li>
            </ul>
        </div>
    </section>

    <footer th:replace="fragments/normal :: footer"></footer>

    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
    <!-- <script th:src="@{/js/index.js}" src="../public/js/index.js"></script> -->
</body>

</html>