:root {
  --sponsor-height-base-line: 100px;
}

.link {
  text-decoration: underline;
}

section {
  width: 100%;
}

section .subtitle {
  font-size: 20px;
  line-height: 2em;
}

section#front {
  z-index: 2;
  height: 100vh;
}

section#front > .wrapper {
  width: calc(100% - var(--wrapper-margin) * 2);
  height: 100%;
  position: relative;
}

section#front > .wrapper > .subtitle {
  position: absolute;
  top: 25%;
  left: 60px;
  min-width: 45%;
  max-width: 50%;
}

section#front > .wrapper > .subtitle > a {
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

section#front > .wrapper > .subtitle > a:hover {
  color: #787878;
  -webkit-text-decoration-color: #787878;
          text-decoration-color: #787878;
}

section#front > .wrapper > .image {
  position: absolute;
  background-image: url("https://images.wallpaperscraft.com/image/castle_neuschwanstein_castle_architecture_126354_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  width: 30%;
  min-width: 70px;
  height: 75vh;
  left: 70%;
  top: 20vh;
}

section#second,
section#fourth {
  margin-top: 200px;
}

section#second > .wrapper,
section#fourth > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section#second > .wrapper > .left,
section#fourth > .wrapper > .left {
  height: 40vw;
  min-height: 500px;
  width: 50%;
  max-width: 500px;
  max-height: 600px;
  overflow: hidden;
}

section#second > .wrapper > .left .background,
section#fourth > .wrapper > .left .background {
  width: 100%;
  height: 100%;
  background-image: url("https://wallpaperaccess.com//full/154959.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s;
  transition: width 0.5s, height 0.5s, margin 0.5s;
}

section#second > .wrapper > .left .background:hover,
section#fourth > .wrapper > .left .background:hover {
  width: 110%;
  height: 110%;
  margin-left: -5%;
  margin-top: -5%;
}

section#second > .wrapper > .left .background > a,
section#fourth > .wrapper > .left .background > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

section#second > .wrapper > .right,
section#fourth > .wrapper > .right {
  height: 400px;
  width: calc(50% - 50px);
  margin: 100px;
}

section#second > .wrapper > .right > .subtitle,
section#fourth > .wrapper > .right > .subtitle {
  font-size: 18px;
}

section#second > .wrapper > .right > .read-more,
section#second > .wrapper > .right > .arrow,
section#fourth > .wrapper > .right > .read-more,
section#fourth > .wrapper > .right > .arrow {
  position: relative;
  margin-top: 50px;
  display: inline-block;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

section#second > .wrapper > .right > .read-more::before,
section#second > .wrapper > .right > .arrow::before,
section#fourth > .wrapper > .right > .read-more::before,
section#fourth > .wrapper > .right > .arrow::before {
  content: '';
  position: absolute;
  background-color: var(--soft-text-color);
  right: -30px;
  top: 50%;
  height: 1px;
  width: 20px;
  -webkit-transition: width 0.5s, right 0.5s, color 0.5s;
  transition: width 0.5s, right 0.5s, color 0.5s;
}

section#second > .wrapper > .right > .read-more::after,
section#second > .wrapper > .right > .arrow::after,
section#fourth > .wrapper > .right > .read-more::after,
section#fourth > .wrapper > .right > .arrow::after {
  content: '';
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid var(--soft-text-color);
  border-right: 1px solid var(--soft-text-color);
  right: -30px;
  top: calc(50% - 4px);
  height: 8px;
  width: 8px;
  -webkit-transition: right 0.5s, border-top-color 0.5s, border-right-color 0.5s;
  transition: right 0.5s, border-top-color 0.5s, border-right-color 0.5s;
}

section#second > .wrapper > .right > .read-more:hover,
section#second > .wrapper > .right > .arrow:hover,
section#fourth > .wrapper > .right > .read-more:hover,
section#fourth > .wrapper > .right > .arrow:hover {
  color: var(--hard-text-color);
}

section#second > .wrapper > .right > .read-more:hover::before,
section#second > .wrapper > .right > .arrow:hover::before,
section#fourth > .wrapper > .right > .read-more:hover::before,
section#fourth > .wrapper > .right > .arrow:hover::before {
  width: 35px;
  right: -45px;
  background-color: var(--hard-text-color);
}

section#second > .wrapper > .right > .read-more:hover::after,
section#second > .wrapper > .right > .arrow:hover::after,
section#fourth > .wrapper > .right > .read-more:hover::after,
section#fourth > .wrapper > .right > .arrow:hover::after {
  right: -45px;
  border-color: black !important;
}

section#third {
  margin-top: 150px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: var(--secondary-background-color);
  overflow: hidden;
}

section#third > .wrapper > .title {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

section#third > .wrapper > .sponsors {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#third > .wrapper > .sponsors > * {
  padding: 30px 40px;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

section#third > .wrapper > .sponsors > *:hover {
  opacity: 0.5;
}

section#third > .wrapper > .sponsors > a > .apple {
  height: calc(var(--sponsor-height-base-line) + 100px);
}

section#third > .wrapper > .sponsors > a > .tap-plastics {
  height: var(--sponsor-height-base-line);
}

section#third > .wrapper > .sponsors > a > .marathon {
  height: calc(var(--sponsor-height-base-line) + 250px);
}

section#third > .wrapper > .sponsors > a > .google {
  height: var(--sponsor-height-base-line);
}

section#third > .wrapper > .sponsors > a > .brin-wojcicki-org {
  height: calc(var(--sponsor-height-base-line) + 20px);
}

section#third > .wrapper > .sponsors > a > .moutain-mikes {
  height: calc(var(--sponsor-height-base-line) + 100px);
}

section#fourth {
  margin-top: 150px;
}

section#fourth > .wrapper > .left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 30vw;
  min-height: 400px;
  width: 60%;
  max-width: 600px;
}

section#fourth > .wrapper > .left > .background {
  background-image: url("/images/red-house-three-windows.jpg");
}

section#fourth > .wrapper > .right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 30px 0 0 0;
}

.image-test {
  background-image: url("/images/fatrat.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  display: table;
}

@media screen and (max-width: 500px) {
  section#front > .wrapper > .subtitle {
    font-size: 17px;
    top: calc(7% + var(--header-height));
    left: 20px;
  }
}

@media screen and (max-width: 700px) {
  section#second > .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#second > .wrapper > .left {
    max-width: none;
    width: 100%;
  }
  section#second > .wrapper > .right {
    width: auto;
    margin: 100px auto;
  }
}

@media screen and (max-width: 800px) {
  section#fourth > .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#fourth > .wrapper > .left {
    max-width: none;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section#fourth > .wrapper > .right {
    width: auto;
    height: auto;
    margin: 80px auto 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  section#fourth > .wrapper > .right > article.subtitle {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  :root {
    --sponsor-height-base-line: 50px;
  }
  section#third > .wrapper > .sponsors > a > .marathon {
    height: 200px;
  }
}
/*# sourceMappingURL=index.css.map */