section {
    width: 100%;
}

section#front {
    height: 100vh;

    &>.wrapper {
        width: calc(100% - var(--wrapper-margin) * 2);
        height: 100%;
        position: relative;

        &>.subtitle {
            position: absolute;
            top: 30%;
            left: 60px;
            min-width: 45%;
            max-width: 50%;
            line-height: 2em;
            font-size: 20px;

            &>a {
                text-decoration: underline;
                transition: color 0.3s;

                &:hover {
                    color: rgb(120, 120, 120);
                    text-decoration-color: rgb(120, 120, 120);
                }
            }
        }
    }
}

.image-test {
    background-image: url('../images/fatrat.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: table;
}

@media screen and (max-width: 500px) {}