:root {
    --wrapper-margin: 10%;
    --header-height: 100px;
    --background-color: rgb(255, 255, 255);
    --secondary-background-color: #f9f9f9;
    --hard-text-color: rgb(63, 63, 63);
    --soft-text-color: #9c9c9c;
}

* {
    margin: 0;
    padding: 0;
}

@keyframes load-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    animation: load-in 1.5s ease-out;
}

body {
    background-color: var(--background-color);
    color: var(--soft-text-color);
    font-family: "Overpass", sans-serif;
    font-weight: 300;
}

html,
body {
    &.scroll-lock {
        overflow: hidden;
    }
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    font-weight: 600;
    color: var(--hard-text-color)
}

.subtitle {
    font-weight: 400;
    color: var(--hard-text-color);
}

.normal {
    font-weight: 300;
    color: var(--soft-text-color);
}

.wrapper {
    width: 80%;
    margin-left: var(--wrapper-margin);
}

.logo {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.to-fade {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.7s, opacity 0.7s !important;
}

.fade-in {
    opacity: 0;
}

.fade-in-up {
    transform: translate(0, 40px);
}

.fade-in-down {
    transform: translate(0, -40px);
}

.fade-in-left {
    transform: translate(40px, 0);
}

.fade-in-right {
    transform: translate(-40px, 0);
}

body>header {
    background-color: var(--background-color);
    z-index: 7;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    transition: top 0.5s, background-color 0.3s;

    &>.wrapper {
        display: flex;
        flex-flow: flex-start;
        align-items: center;
        height: 100%;

        &>.title {
            color: black;
            font-size: 18px;
            margin-left: 20px;
            transition: filter 0.3s;

            &:hover {
                filter: opacity(0.7);
            }
        }

        &>a>.logo {
            width: 40px;
            height: 40px;
            transition: filter 0.3s;

            &:hover {
                filter: opacity(0.7);
            }
        }
    }
}

.menu-button-wrapper {
    margin-left: auto;
    cursor: pointer;
    transition: filter 0.4s;

    &:hover {
        filter: opacity(0.4);
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 1px;
        background-color: var(--hard-text-color);
        margin: 6px 0;
        transition: 0.4s;
    }

    &.change .bar1 {
        transform: rotate(-45deg) translate(-6px, 4px);
    }

    &.change .bar2 {
        opacity: 0;
    }

    &.change .bar3 {
        transform: rotate(45deg) translate(-5px, -4px);
    }
}

.header-height-div {
    height: var(--header-height);
}

nav#menu {
    &.on {
        display: initial !important;
        opacity: 1 !important;
        transform: translate(0px, 25%) !important;
    }

    position: fixed;
    top: -25%;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: var(--background-color);

    transition: opacity 0.2s,
    transform 0.5s cubic-bezier(0.16, 0.06, 0, 1.02);

    opacity: 0;

    &>div.wrapper#main {
        margin-top: var(--header-height);
        overflow-y: auto;
        position: absolute;
        height: calc(80% - var(--header-height));
        top: calc((20% - var(--header-height)) / 2);
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;

        &>.group {
            width: 150px;
            padding: 10px;

            & .fade {
                transition: filter 1s;
                filter: opacity(0);

                &.on {
                    filter: opacity(1);
                }
            }

            .title,
            .subtitle {
                padding-bottom: 10px;
            }

            .title {
                font-size: 18px;
            }

            .subtitle {
                color: var(--soft-text-color);
            }

            a {
                transition: color 0.2s;
            }

            a:hover {
                color: var(--hard-text-color);
            }

            ul {
                &>li {
                    padding-bottom: 10px;
                    font-size: 14px;

                    ul {
                        list-style-type: disc;
                        list-style-position: inside;

                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 400px;
    position: relative;
    // background-color: #131313;
    color: var(--hard-text-color);

    &>.wrapper {
        position: absolute;
        display: flex;
        justify-content: space-around;
        height: 70%;
        top: 20%;

        &>.left {
            flex-grow: 2;

            transition: flex-grow 1s;

            &:hover {
                flex-grow: 3;
            }

            &>ul {
                li {
                    &>.logo {
                        margin-bottom: 20px;
                        width: 60px;
                        height: 60px;
                        // filter: invert(1);
                        transition: opacity 0.3s;

                        &:hover {
                            opacity: 0.7;
                        }

                        &>a {
                            display: block;
                            width: 60px;
                            height: 60px;
                        }
                    }

                    &>.normal {
                        font-size: 14px;
                        padding-bottom: 5px;
                        // color: col;
                    }

                    &>.subtitle {
                        padding-bottom: 30px;
                        font-size: 18px;

                        &.address {
                            font-size: 15px;

                            &>a {
                                transition: opacity 0.3s;

                                &:hover {
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
        }

        &>.divider {
            flex-grow: 0;
            height: 90%;
            width: 1px;
            background-color: var(--soft-text-color);
            opacity: 0.5;
            margin: 0 20px;
            transition: opacity 0.3s;

            &.fade-in {
                opacity: 0;
            }
        }

        &>.right {
            transition: flex-grow 1s;

            &:hover {
                flex-grow: 2;
            }

            flex-grow: 1;

            &>div.normal {
                color: var(--hard-text-color);
                width: 50%;
                min-width: 140px;
                max-width: 270px;
                line-height: 28px;
                text-align: right;
                display: inline-block;
            }

            &>.list {
                float: right;

                &>* {
                    color: var(--soft-text-color);
                    font-size: 14px;
                    text-align: right;
                    padding-bottom: 2px;
                    position: relative;
                    margin-bottom: 10px;

                    transition: color 0.2s;

                    &:hover {
                        color: var(--hard-text-color);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        display: inline-block;
                        width: 0px;
                        height: 1px;
                        bottom: -2px;
                        right: 0;
                        background-color: var(--hard-text-color);
                        transition: width 0.2s;
                    }

                    &:hover::after {
                        width: 85%;
                    }
                }
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --wrapper-margin: 5%;
    }

    .wrapper {
        width: 90%;
    }

    footer {
        height: 600px;

        &>.wrapper {
            flex-wrap: wrap;

            &>.left {
                width: 100%;
            }

            &>.divider {
                width: 100%;
                height: 1px;
                margin: 0 0 20px 0;
            }

            &>.right {
                width: 100%;

                &>div.normal {
                    text-align: left;
                }
            }
        }
    }
}