<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Change this -->
    <title>Levels - FalconX Robotics</title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/support/levels.css}" href="../../public/css/support/levels.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <main>
        <div class="wrapper">
            <div class="subtitle">Sponsor Levels</div>
            <article>Depending on your contribution, we will be doin' ur mom doin' doin' ur mom.</article>
        </div>
    </main>

    <section id="flags">
        <div class="wrapper">
            <div class="flag bronze">
                <div class="background-square"></div>
                <div class="background-triangle"></div>
                <div class="subtitle">Bronze Egg</div>
                <ul>
                    <li><a>Website</a></li>
                </ul>
            </div>
            <div class="flag silver">
                <div class="background-square"></div>
                <div class="background-triangle"></div>
                <div class="subtitle">Silver Feather</div>
                <ul>
                    <li><a>Robot</a></li>
                    <li><a>Team T-shirt</a></li>
                    <li><a>Banner</a></li>
                    <li><a>Website</a></li>
                </ul>
            </div>
            <div class="flag gold">
                <div class="background-square"></div>
                <div class="background-triangle"></div>
                <div class="subtitle">Golden Beak</div>
                <ul>
                    <li><a>Robot</a></li>
                    <li><a>Team T-shirt II</a></li>
                    <li><a>Banner</a></li>
                    <li><a>Website</a></li>
                </ul>
            </div>
            <div class="flag platinum">
                <div class="background-square"></div>
                <div class="background-triangle"></div>
                <div class="subtitle">Platinum Talon</div>
                <ul>
                    <li><a>Tournaments</a></li>
                    <li><a>School Display Case</a></li>
                    <li><a>Robot</a></li>
                    <li><a>Team T-shirt II</a></li>
                    <li><a>Banner</a></li>
                    <li><a>Website</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="perk-descriptions">
        <div class="wrapper">
            <div class="subtitle">Perk Descriptions</div>
            <ul>
                <li>
                    <div class="subtitle">Tournaments</div>
                    <div class="description">Your company acknowledged during competition Alliance selections nationally
                        televised and paid travel to one chosen tournament </div>
                </li>
                <li>
                    <div class="subtitle">Tournaments</div>
                    <div class="description">Your company acknowledged during competition Alliance selections nationally
                        televised and paid travel to one chosen tournament </div>
                </li>
                <li>
                    <div class="subtitle">Tournaments</div>
                    <div class="description">Your company acknowledged during competition Alliance selections nationally
                        televised and paid travel to one chosen tournament </div>
                </li>
                <li>
                    <div class="subtitle">Tournaments</div>
                    <div class="description">Your company acknowledged during competition Alliance selections nationally
                        televised and paid travel to one chosen tournament </div>
                </li>
                <li>
                    <div class="subtitle">Tournaments</div>
                    <div class="description">Your company acknowledged during competition Alliance selections nationally
                        televised and paid travel to one chosen tournament </div>
                </li>
                <li>
                    <div class="subtitle">Tournaments</div>
                    <div class="description">Your company acknowledged during competition Alliance selections nationally
                        televised and paid travel to one chosen tournament </div>
                </li>
            </ul>
        </div>
    </section>

    <footer th:replace="fragments/normal :: footer"></footer>

    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../../public/js/main.js"></script>
    <!-- <script th:src="@{/js/about/history.js}" src="../../public/js/about/history.js"></script> -->
</body>

</html>