<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Change this -->
    <title>Sponsor Us - FalconX Robotics</title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/support/sponsor-us.css}" href="../../public/css/support/sponsor-us.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <div class="header-height-div"></div>

    <main>
        <div class="wrapper">
            <div class="subtitle">Sponsor Us</div>
        </div>
    </main>

    <section>
        <div class="wrapper">
            <div class="subtitle">We Need Your Help</div>
            <div class="normal">FalconX is actively seeking sponsors to further develop our team. The team would accept sponsorship at any level.</div>
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="subtitle">How Can You Help?</div>
            <div class="normal">Your company can support our team in 3 ways:</div>
            <ol>
                <li>
                    <div class="subtitle">lorem lorem lorem</div>
                    <div class="normal">lorem lorem lorem lorem lorem</div>
                </li>
                <li>
                    <div class="subtitle">lorem lorem lorem</div>
                    <div class="normal">lorem lorem lorem lorem lorem</div>
                </li>
                <li>
                    <div class="subtitle">lorem lorem lorem</div>
                    <div class="normal">lorem lorem lorem lorem lorem</div>
                </li>
            </ol>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="subtitle">Benefits</div>
            <div class="normal">Sponsors would have their branding promoted by the team through means such as placing their logo on our robot, T-shirts, hats, banners, and other club merchandise respectively, as well as a possibility of promotional events. As FalconX Robotics is an educational organization, sponsors receive tax write-offs for the amount of their contribution. Donations support the field of STEM education, and subsequently the company’s standing therewithin, not to mention our members gratitude.</div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="subtitle"></div>
            <div class="normal"></div>
        </div>
    </section>

    <footer th:replace="fragments/normal :: footer"></footer>

    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../../public/js/main.js"></script>
    <!-- <script th:src="@{/js/about/history.js}" src="../../public/js/about/history.js"></script> -->
</body>

</html>