<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" th:fragment="head" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../public/css/main.css" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" th:fragment="head" />
</head>

<body>


    <header th:fragment="header">
        <div class="wrapper">
            <!-- Change href in other webpages -->
            <a href="/">
                <div class="logo"></div>
            </a>
            <div class="title"><a href="/">FalconX Robotics</a></div>
            <div class="menu-button-wrapper" id="menu-button">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </header>
    <nav id="menu" style="display: none; z-index: -1;" th:fragment="menu">
        <div class="wrapper" id="main">
            <div class="group">
                <div class="title fade">About</div>
                <ul>
                    <li class="fade"><a href="/about/history">History</a></li>
                    <li class="fade"><a href="/about/first">First®</a></li>
                    <li>
                        <div class="subtitle fade">Divisions</div>
                        <ul>
                            <li class="fade"><a href="javascript:void(0)">Engineering</a></li>
                            <li class="fade"><a href="javascript:void(0)">Business</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="group">
                <div class="title fade">Support</div>
                <ul>
                    <li class="fade"><a href="javascript:void(0)">AMP</a></li>
                    <li class="fade"><a href="javascript:void(0)">Our Sponsers</a></li>
                    <li class="fade"><a href="javascript:void(0)">Sponser Us</a></li>
                    <li class="fade"><a href="javascript:void(0)">Levels of Sponsership</a></li>
                </ul>
            </div>
            <div class="group">
                <div class="title fade">Resources</div>
                <ul>
                    <li>
                        <div class="subtitle fade">Curriculum</div>
                        <ul>
                            <li class="fade"><a href="javascript:void(0)">Mechanical</a></li>
                            <li class="fade"><a href="javascript:void(0)">Programming</a></li>
                            <li class="fade"><a href="javascript:void(0)">CAD</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="group">
                <div class="title fade">Events</div>
                <ul>
                    <li class="fade"><a href="javascript:void(0)">FIRST Robotics Competition</a></li>
                    <li class="fade"><a href="javascript:void(0)">Capital City Classic</a></li>
                    <li class="fade"><a href="javascript:void(0)">US Davis C-STEM</a></li>
                    <li class="fade"><a href="javascript:void(0)">STEM and EdTech Symposium</a></li>
                    <li class="fade"><a href="javascript:void(0)">Other STEM Events</a></li>
                </ul>
            </div>
            <div class="group">
                <div class="title fade"><a href="/projects">Projects</a></div>
                <ul>
                    <li class="fade"><a href="javascript:void(0)">2019 | Obi-Wan</a></li>
                    <li class="fade"><a href="javascript:void(0)">2018 | [Blank]</a></li>
                    <li class="fade"><a href="javascript:void(0)">2017 | EZ-GC</a></li>
                </ul>
            </div>
            <div class="group">
                <div class="title fade"><a href="javascript:void(0)">Contact Us</a></div>
            </div>
            <div class="group">
                <div class="title fade"><a href="javascript:void(0)">Calender</a></div>
            </div>
            <div class="group">
                <div class="title" id="error-mes-mobile"></div>
            </div>
        </div>
    </nav>

    <footer th:fragment="footer">
        <div class="wrapper">
            <div class="left">
                <ul>
                    <li class="fade-in">
                        <div class="logo"><a href="/"></a></div>
                    </li>
                    <li class="fade-in">
                        <div class="normal">contact us</div>
                        <div class="subtitle">contact@falconxrobotics.com</div>
                    </li>
                    <li class="fade-in">
                        <div class="normal">address</div>
                        <div class="subtitle address">
                            <a href="https://goo.gl/maps/VNWc7UbkS5iidMQ69" target="_blank">201 Viking Dr,
                                Pleasant Hill, CA 94523</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="divider fade-in fade-in-down"></div>
            <div class="right">
                <div class="normal fade-in fade-in-down">check us out on social media</div>
                <div class="list">
                    <div class="twitter fade-in fade-in-left"><a href="https://twitter.com/falconxrobotics"
                            target="_blank">Twitter</a></div>
                    <div class="youtube fade-in fade-in-left"><a
                            href="https://www.youtube.com/channel/UC2MbEcznWa_YakUtgJI8LPg" target="_blank">YouTube</a>
                    </div>
                    <div class="instagram fade-in fade-in-left"><a href="https://www.instagram.com/falconxrobotics/"
                            target="_blank">Instagram</a></div>
                    <div class="facebook fade-in fade-in-left"><a href="https://www.facebook.com/falconxrobotics/"
                            target="_blank">Facebook</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>