section {
  width: 100%;
}

main {
  width: 100%;
}

main > .wrapper > .subtitle {
  font-size: 24px;
  padding-top: calc(10vh + var(--header-height));
}

main > .wrapper > article {
  font-size: 18px;
  margin-top: 25px;
}

section#flags {
  margin-top: 15vh;
}

section#flags > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#flags > .wrapper > .flag {
  width: 200px;
  position: relative;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

section#flags > .wrapper > .flag:hover {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)) !important;
          filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)) !important;
}

section#flags > .wrapper > .flag.bronze {
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}

section#flags > .wrapper > .flag.bronze > .background-square {
  background-color: #a3938c;
}

section#flags > .wrapper > .flag.bronze > .background-triangle {
  border-top-color: #a3938c;
}

section#flags > .wrapper > .flag.silver {
  -webkit-filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.17));
          filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.17));
}

section#flags > .wrapper > .flag.silver > .background-square {
  background-color: #f8f8f8;
}

section#flags > .wrapper > .flag.silver > .background-triangle {
  border-top-color: #f8f8f8;
}

section#flags > .wrapper > .flag.gold {
  -webkit-filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.15));
}

section#flags > .wrapper > .flag.gold > .background-square {
  background-color: #fbf9c5;
}

section#flags > .wrapper > .flag.gold > .background-triangle {
  border-top-color: #fbf9c5;
}

section#flags > .wrapper > .flag.platinum {
  -webkit-filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

section#flags > .wrapper > .flag > .background-square {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  background-color: #aee0ff;
}

section#flags > .wrapper > .flag > .background-triangle {
  position: absolute;
  top: calc(100% - 101px);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #aee0ff;
}

section#flags > .wrapper > .flag > .subtitle {
  position: relative;
  z-index: 4;
  padding-left: 20px;
  font-size: 18px;
  padding-top: 40px;
}

section#flags > .wrapper > .flag > ul {
  position: relative;
  z-index: 4;
  padding-left: 20px;
  margin-top: 25px;
  padding-bottom: 125px;
}

section#flags > .wrapper > .flag > ul > li {
  color: var(--hard-text-color);
  opacity: 0.6;
  margin-top: 10px;
}

section#perk-descriptions {
  margin-top: 150px;
  margin-bottom: 50px;
}

section#perk-descriptions > .wrapper > .subtitle {
  font-size: 22px;
}

section#perk-descriptions > .wrapper > ul {
  margin-top: 50px;
}

section#perk-descriptions > .wrapper > ul > li {
  margin-top: 25px;
}

section#perk-descriptions > .wrapper > ul > li > .description {
  margin-top: 8px;
  max-width: 70%;
  line-height: 27px;
}

@media screen and (max-width: 500px) {
  section#perk-descriptions > .wrapper > ul > li > .description {
    width: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=levels.css.map */