:root {
    --sponsor-height-base-line: 100px;
}

section#third {
    padding-top: 50px;
    padding-bottom: 100px;
    // background-color: var(--secondary-background-color);
    overflow: hidden;

    &>.wrapper {
        &>.title {
            font-size: 35px;
            width: 100%;
            text-align: center;
        }

        &>.sponsors {
            margin-top: 60px;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            flex-wrap: wrap;

            &>* {
                padding: 30px 40px;
                opacity: 1;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.5;
                }
            }

            &>a {
                &>.apple {
                    height: calc(var(--sponsor-height-base-line) + 100px);
                    //     width: 100px;
                    //     background-image: url('/images/apple.png');
                }

                &>.tap-plastics {
                    height: var(--sponsor-height-base-line);
                    // background-image: url('/images/tap-plastics.png');
                }

                &>.marathon {
                    height: calc(var(--sponsor-height-base-line) + 250px);
                    //     background-image: url('/images/marathon.png');
                }

                &>.google {
                    height: var(--sponsor-height-base-line);
                    //     background-image: url('/images/google.png');
                }

                &>.brin-wojcicki-org {
                    height: calc(var(--sponsor-height-base-line) + 20px);
                    //     background-image: url('/images/brin-wojcicki-org.png');
                }

                &>.moutain-mikes {
                    height: calc(var(--sponsor-height-base-line) + 100px);
                    //     background-image: url('/images/moutain-mikes.png');
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    :root {
        --sponsor-height-base-line: 50px;
    }

    section#third {
        &>.wrapper {
            &>.sponsors {
                &>a {
                    &>.marathon {
                        height: 200px;
                    }
                }
            }
        }
    }
}