<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="/index">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Change this -->
    <title>Calender - FalconX Robotics</title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../public/css/calender.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../public/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600&display=swap" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Uncomment this when deploying! -->
    <!-- <style th:text="inline">
        .logo {
            background: url([[@{/images/logo.png}]]);
        }
    </style> -->
</head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <div class="header-height-div"></div>

    <iframe
        src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=cnVpc29uZ3podTNAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y2xhc3Nyb29tMTA4MDMyNjE2MTYwMTg1MjI2ODI4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=cjNhdHQ3NGNlbzA1Z21nZDJkOGJnMDk5Mm9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%23880e4f&amp;color=%23009688&amp;color=%230B8043&amp;showNav=1"
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <!-- <div class="min-height"></div> -->

    <footer th:replace="fragments/normal :: footer"></footer>
    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
    <!-- <script th:src="@{/js/index.js}" src="../public/js/index.js"></script> -->
</body>

</html>