<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="/index">

<head>
    <!-- Change this -->
    <title>Home - FalconX Robotics</title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../public/css/index.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <section id="front">
        <div class="wrapper">
            <div class="subtitle fade-in-down fade-in parallax" data-parallax-translate data-parallax-reverse
                data-parallax-middle data-parallax-slowdown="2">
                FalconX Robotics is a diverse team from
                <a target="_blank" href="https://cphs.mdusd.org/">College Park HS</a>
                comprised of students, parents, mentors, and teachers.
            </div>
            <div class="image parallax fade-in-down fade-in test" data-parallax-slowdown="2" data-parallax-middle></div>
        </div>
    </section>
    <section id="second">
        <div class="wrapper">
            <div class="subtitle fade-in-down fade-in">
                We got quality minecraft servers.
            </div>
            <article class="fade-in-down fade-in">
                Guaranteed ping of less than 50.
                <br />
                Up to 100 players max.
            </article>
        </div>
    </section>

    <footer th:replace="fragments/normal :: footer"></footer>

    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../public/js/main.js"></script>
    <script th:src="@{/js/index.js}" src="../public/js/index.js"></script>
</body>

</html>