.container {
    width: 100%;
    height: 100vh;
}

section {
    width: 100%;
    height: 100vh;

    &>.wrapper {
        width: calc(100% - var(--wrapper-margin) * 2);
        height: 100%;
        position: relative;
    }
}

section#front {

    &>.wrapper {

        &>.subtitle {
            margin-top: 35vh;
            min-width: 45%;
            max-width: 50%;
            line-height: 2em;
            font-size: 30px;
        }

        &>nav {
            &>ul {
                margin-top: 10px;

                &>li {
                    color: rgb(94, 94, 94);
                    display: inline-block;
                    transition: padding-bottom 0.1s;
                    font-size: 15px;
                    margin-right: 10px;
                    padding-bottom: 4px;
                    border-bottom: 1px solid rgb(167, 167, 167);
                    cursor: pointer;

                    &:hover {
                        color: black;
                        padding-bottom: 0px;
                        border-bottom-color: rgb(94, 94, 94);
                    }
                }
            }
        }
    }
}

section.slide {
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    background-color: var(--background-color);

    &.removing {
        transition: left 1s;
        z-index: 4;
        display: initial;
    }


    &.current {
        transition: left 1s;
        z-index: 4;
        display: initial;
    }


    &>.wrapper {

        &>.subtitle {
            margin-top: 20vh;
            font-size: 40px;
        }

        &>.description {
            margin-top: 50px;
            width: 80%;
            margin-top: 10%;
            font-size: 18px;
            padding-bottom: 50px;
            white-space: pre-wrap;
        }
    }
}

.middle-space {
    height: 100vh;
}

#back-button,
#next-button {
    z-index: 5;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    position: fixed;
    margin-top: auto;
    top: calc(50vh - 10px);
}

#back-button {
    border-left: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    left: 35px;
    transition: left 0.3s, border-color 0.3s;

    &:hover {
        border-color: #5e5e5e;
        left: 30px;
    }
}

#next-button {
    border-right: 1px solid #a7a7a7;
    border-top: 1px solid #a7a7a7;
    right: 35px;
    transition: right 0.3s, border-color 0.3s;

    &:hover {
        border-color: #5e5e5e;
        right: 30px;
    }
}

@media screen and (max-width: 700px) {

    section#front>.wrapper>.subtitle {
        font-size: 20px;
    }

    section#front>.wrapper>.subtitle {
        margin-top: 43vh;
    }

    section.slide {
        &>.wrapper {
            width: 67%;
            margin: 0 auto 0 auto;

            &>.subtitle {
                font-size: 20px;
            }

            &>.description {
                width: 100%;
            }
        }
    }

    section#front>.wrapper>nav>ul>li {
        padding-bottom: 1px;
        margin-bottom: 10px;
    }
}