<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Change this -->
	<title>FIRSTⓇ - FalconX Robotics</title>
	<!-- Change this -->
	<link rel="stylesheet" th:href="@{/css/about/first.css}" href="../../public/css/about/first.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
	<header th:replace="fragments/normal :: header"></header>
	<nav th:replace="fragments/normal :: menu"></nav>

	<div class="header-height-div"></div>

	<!-- <div class="middle-space"></div> -->

	<section>
		<div class="wrapper">
			<div class="first-image background-image"></div>
			<div class="subtitle" th:text="${article}"></div>
		</div>
	</section>

	<!-- <footer th:replace="fragments/normal :: footer"></footer> -->

	<!-- Change this -->
	<script th:src="@{/js/main.js}" src="../../public/js/main.js"></script>
</body>

</html>