<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Change this -->
    <title>History - FalconX Robotics</title>
    <!-- Change this -->
    <link rel="stylesheet" th:href="@{/css/about/history.css}" href="../../public/css/about/history.css" />
</head>

<head th:replace="fragments/normal :: head"></head>

<body>
    <header th:replace="fragments/normal :: header"></header>
    <nav th:replace="fragments/normal :: menu"></nav>

    <!-- <div class="header-height-div"></div> -->

    <!-- <div class="middle-space"></div> -->

    <div class="container">
        <div id="back-button"></div>

        <section class="slide current" id="front">
            <div class="wrapper">
                <div class="subtitle">
                    Our History
                </div>
                <nav>
                    <ul>
                        <li class="path" data-slide-index="1"><a>Birth</a></li>
                        <li class="path" data-slide-index="2"><a>Development</a></li>
                        <li class="path" data-slide-index="3"><a>Challenges</a></li>
                        <li class="path" data-slide-index="4"><a>Expansion</a></li>
                        <li class="path" data-slide-index="5"><a>Outreach</a></li>
                        <li class="path" data-slide-index="6"><a>Onward</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <section class="slide" id="birth">
            <div class="wrapper">
                <div class="subtitle">
                    The Birth of FalconX
                </div>
                <div class="description" th:text="${birth}">
                    
                </div>
            </div>
        </section>
        <section class="slide" id="early">
            <div class="wrapper">
                <div class="subtitle">
                    Early Development
                </div>
                <div class="description" th:text="${development}">
                    
                </div>
            </div>
        </section>
        <section class="slide" id="new">
            <div class="wrapper">
                <div class="subtitle">
                    New Challenges
                </div>
                <div class="description" th:text="${challenges}">
                    
                </div>
            </div>
        </section>
        <section class="slide" id="expansion">
            <div class="wrapper">
                <div class="subtitle">
                    Expansion
                </div>
                <div class="description" th:text="${expansion}">
                </div>
            </div>
        </section>
        <section class="slide" id="outreach">
            <div class="wrapper">
                <div class="subtitle">
                    Outreach and Impact
                </div>
                <div class="description" th:text="${outreach}">
                </div>
            </div>
        </section>
        <section class="slide" id="onward">
            <div class="wrapper">
                <div class="subtitle">
                    Onward
                </div>
                <div class="description" th:text="${onward}">
                </div>
            </div>
        </section>

        <div id="next-button"></div>
    </div>

    <!-- Change this -->
    <script th:src="@{/js/main.js}" src="../../public/js/main.js"></script>
    <script th:src="@{/js/about/history.js}" src="../../public/js/about/history.js"></script>
</body>

</html>